<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.li.k.eternianproducts">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/heman_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/heman_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HourGlassActivity" />
        <activity android:name=".CountdownActivity"></activity>
    </application>

</manifest>